doctype html
html(lang="en",dir="ltr")
  head
    meta(charset="utf-8")
    title Bugger 2
    meta(name="viewport", content="width=device-width, initial-scale=1.0") 
    link(rel="stylesheet", href="dist/styles/main.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.1/css/all.css")
    
  body
    .container
      i.fas.fa-heart
      i.fas.fa-heart
      i.fas.fa-heart
      .score 
        span.scoreVal 0
      canvas#canvas(width="505", height="606")
    include modal.pug
    
      
      
      
      
    script(src="vendor/scripts/resources.js")  
    script(src="dist/scripts/main.min.js")
    script(src="vendor/scripts/engine.js")
