doctype html
html(lang="en",dir="ltr")
  head
    meta(charset="utf-8")
    title Bugger 2
    meta(name="viewport", content="width=device-width, initial-scale=1.0") 
    link(rel="stylesheet", href="dist/styles/main.min.css")
    script(src="vendor/scripts/vue.js")
    
  body
    #app
      
      
      
      
    script(src="vendor/scripts/resources.js")  
    script(src="dist/scripts/main.min.js")
    script(src="vendor/scripts/engine.js")
